.post-wrap-container{
    width: 48%;
    height: 80%;
    padding: 6px;
}

.wrap-container{
    padding: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

