
<div class="post-container">
    <div class="post_description">
        <h2 class="post_title"><b>{{ 'Post.Title' | translate }}: </b>{{post.title}}</h2>
        <div>{{ 'Post.User' | translate }}: {{post.user.firstName + " " + post.user.lastName}}</div>
        <br><br>
        <div><b>{{ 'Post.Description' | translate }}: </b>{{post.description}}</div>
    </div>

    <div class="post_bottom">
        <button (click)="info()" mat-button class="post_accept">{{ 'Buttons.Info' | translate }}</button>
    </div>
</div>
