.post-form {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding: 30px;
    position: relative;
}

.title_field, .description_field {
    display: block;
}

.description_textarea {
    max-height: 200px;
}

.fields-container {
    display: flex;
    justify-content: space-between;
}

.peoples_field, .category_field {
    width: 30%;
}

.when_field, .cost_field {
    width: 15%;
}

