
  .authorization-container {
    position: relative;
    display: flex;
    width: 400px;
    height: 290px;
    margin: 200px auto;
    padding: 30px;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    box-shadow: 0px 2px 1px 1.5px rgb(200, 200, 200);
  }
    
  .authorization-container > * {  
    width: 100%;
  }
  
  .authorization_title {
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .authorization_sign-container {
    display: flex;
    position: absolute;
    left: 60%;
    top: 85%; 
  }

  
  