<form (submit)="signUp()" class="registration-container" [formGroup]="registForm" (keydown)="keyDown($event)">
    <h2 class="registration_title">{{ 'Title.SignUp' | translate | uppercase }}</h2>

    <mat-form-field>
        <input matInput placeholder="{{ 'User.Email' | translate }}*" [formControl]="registForm.controls['email']" [errorStateMatcher]="matcher">
        <mat-error *ngIf="registForm.controls['email'].hasError('required')">
            {{ 'Errors.Required' | translate }}
        </mat-error>
        <mat-error *ngIf="registForm.controls['email'].hasError('email')">
            {{ 'Errors.Email' | translate }}
        </mat-error>
        <mat-error *ngIf="registForm.controls['email'].hasError('maxlength')">
            {{ 'Errors.TooBigLength' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="password" matInput placeholder="{{ 'User.Pass' | translate }}*" [formControl]="registForm.controls['passwords'].controls['password']"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="registForm.controls['passwords'].controls['password'].hasError('required')">
            {{ 'Errors.Required' | translate }}
        </mat-error>
        <mat-error *ngIf="registForm.controls['passwords'].controls['password'].hasError('maxlength')">
            {{ 'Errors.TooBigLength' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input type="password" matInput placeholder="{{ 'User.ConfirmPass' | translate }}*" [formControl]="registForm.controls['passwords'].controls['repeat']"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="registForm.controls['passwords'].controls['repeat'].hasError('required')">
            {{ 'Errors.Required' | translate }}
        </mat-error>
        <mat-error *ngIf="registForm.controls['passwords'].controls['repeat'].hasError('maxlength')">
            {{ 'Errors.TooBigLength' | translate }}
        </mat-error>
        <mat-error *ngIf="registForm.controls['passwords'].controls['repeat'].hasError('equalValue')">
            {{ 'Errors.PassNotMatch' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="{{ 'User.FirstName' | translate }}*" [formControl]="registForm.controls['firstName']"
            [errorStateMatcher]="matcher">
        <mat-error *ngIf="registForm.controls['firstName'].hasError('required')">
            {{ 'Errors.Required' | translate }}
        </mat-error>

        <mat-error *ngIf="registForm.controls['firstName'].hasError('maxlength')">
            {{ 'Errors.TooBigLength' | translate }}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{ 'User.LastName' | translate }}*" [formControl]="registForm.controls['lastName']"
          [errorStateMatcher]="matcher">
      <mat-error *ngIf="registForm.controls['lastName'].hasError('required')">
          {{ 'Errors.Required' | translate }}
      </mat-error>

      <mat-error *ngIf="registForm.controls['lastName'].hasError('maxlength')">
          {{ 'Errors.TooBigLength' | translate }}
      </mat-error>
  </mat-form-field>

    <mat-error *ngIf="registForm.hasError('badRequest')">
        {{ 'Errors.UserAlreadyExist' | translate }}
    </mat-error>

    <div class="registration_sign-container">
        <button class="sign-container_up" mat-button (click)="signIn($event)">{{ 'Buttons.SignIn' | translate | uppercase }}</button>
        <button [disabled]="!registForm.valid" type="submit" class="sign-container_in" mat-button>{{ 'Buttons.SignUp' | translate | uppercase }}</button>
    </div>

</form>
