.users-container{
    position: relative;
}

.users-list_container{
    position: relative;
    padding: 30px;
    height: 70vh;
    overflow-y: scroll;
    border: 3px solid #e2e2e2;
}

.users_title {
    margin-bottom: 20px;
    font-weight: 400;
}

table {
  width: 100%;
}

.disabled{
  color: grey;
}
