.delete-btn, .update-btn {
    width: 200px;
    height: 40px;
    background-color: #3f51b5;
    color: white;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
}

.edit-btn-container{
    width: 500px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
    left: 50px;
}