.post-container {
  height: 300px;
  width: 80%;
  margin: 0px;
  padding: 30px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid white;
  box-shadow: 0px 2px 1px 1.5px rgb(200, 200, 200);
}

.post_title {
  margin: 0;
  word-wrap: break-word;
  font-weight: normal;
}

.post_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-time-container {
  display: flex;
  align-items: center;
  justify-content: space-between
}

.post_time {
  margin-right: 20px;
  font-size: 12px;
}
.post_price {
  padding: 6px 15px;
  background-color: lightgrey;
  border-radius: 2em / 2em;
  font-size: 14px;
  font-weight: bold;
}

.post_deals {
  font-size: 12px;
}

.post_description {
  font-size: 14px;
  margin-top: 30px;
}

.btns-container {
  display: flex;
  justify-content: space-between;
}



