.approve-dialog{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.approve-content{
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

.approve_info{
    font-weight: bold;
}
