.profile_title {
    margin-bottom: 20px;
    font-weight: 400;
}

.profile_field{
    display: block;
    width: 400px;
}

.form_btn {
    width: 200px;
    height: 40px;
    background-color: #3f51b5;
    color: white;
    font-weight: 400;
    font-size: 16px;
    outline: none;
    border: none;
}

.profile_btn-container{
    display: flex;
    justify-content: space-between;
    width: 450px;
}

.profile_main{
    margin-bottom: 20px;
}

.profile_password-container{
    margin-bottom: 20px;
}

.password_field-container{
    margin-top: 20px;
}
